.skin-black .main-header .navbar {
    background-color: #222d32;
}
.skin-black .main-header>.logo:hover {
    background-color: #1e282c;
}

.skin-black .main-header .navbar .sidebar-toggle:hover {
    background-color: #1e282c;
}

.skin-black .main-header>.logo {
    background-color: #222d32;
    color: white;
    border-right: 0px;
}

.skin-black .main-header .navbar>.sidebar-toggle {
    color: white;
    border-right: 0px;
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav>li>a, 
.skin-black .main-header .navbar .navbar-right>li>a {
    border-left: 0px;
    color: white;
}
.skin-black .main-header .navbar .nav>li>a:hover, 
.skin-black .main-header .navbar .nav>li>a:active, 
.skin-black .main-header .navbar .nav>li>a:focus, 
.skin-black .main-header .navbar .nav .open>a, 
.skin-black .main-header .navbar .nav .open>a:hover, 
.skin-black .main-header .navbar .nav .open>a:focus, 
.skin-black .main-header .navbar .nav>.active>a {
    background-color: #1e282c;
}

.btn-smart {
    color: white;
    background-color: #222d32;
    border-color: #1e282c;
}

.btn-smart:hover {
    color: white;
}

.station {
    padding-left: 0px;
    padding-right: 0px;
}

.zonas {
    background-color:#f7f7f7; 
    font-size: 18px; 
    text-align: center; 
    padding: 7px 10px; 
    margin-top: 0;
}

.box .box-station {
    border-top: 0px;
}

.section-status {
    background-color: white;
    padding: 20px;
}